@model SaleSistemMvc.Models.Sale

@{
    ViewData["Title"] = "Create";
}

<h1>Comprar @Model.ProductBuyed</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Buyer)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Buyer)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Date)
                </dt>
                <dd class="col-sm-10">
                    @Model.Date.ToLongDateString()
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ProductBuyed)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ProductBuyed)
                </dd>
            </dl>
            <div class="form-group">
                <input type="submit" value="Comprar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
